<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
        </Console>

        <!-- append is false for test purposes so the logfiles are automatically overwritten. Don't use this on production. -->
        <RollingFile name="rollingFile" append="false" fileName="logs/error.log" filePattern="logs/error-%d{yyyy-MM-dd}.%i.log">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
            <Policies>
                <!-- Rolling once a day -->
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <!-- Rolling based on size -->
                <SizeBasedTriggeringPolicy size="2 KB"/>
            </Policies>
        </RollingFile>
        <File name="file" fileName="logs/app-log.log">
            <PatternLayout>
                <Pattern pattern="%d{MM.dd.yyyy HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            </PatternLayout>
        </File>
    </Appenders>

    <Loggers>
        <Logger name="com.example" level="ALL" additivity="true">
            <AppenderRef ref="rollingFile"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>